@media (max-width: 1600px) {
  .contacts__container {
    flex-wrap: wrap;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .contacts__adress,
  .form {
    margin-bottom: 30px;
  }

  .article__content {
    padding: 270px 50px 45px;
  }

  .accordion__painter-list {
    columns: 2;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }

  .header__container {
    padding-top: 29px;
  }

  .nav__btn,
  .header__menu {
    display: none;
  }

    /* burger */
  .burger {
    position: relative;
    display: none;
    width: 36px;
    height: 28px;
    transform: translateY(-5px);
  }

  .burger__line,
  .burger__line::before,
  .burger__line::after {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 28px;
    height: 3px;
    background-color: var(--color-white);
    transition: transform 0.3s ease, width 0.3s ease;
  }

  .burger__line::before,
  .burger__line::after {
    content: '';
  }

  .burger__line::before {
    transform: translateY(-11px);
    width: 36px;
  }

  .burger__line::after {
    transform: translateY(11px);
    width: 22px;
  }

  .nav__burger {
    display: block;
  }

  .header {
    position: relative;
  }

  .header__nav {
    position: absolute;
    left: -500px;
    top: 0;
    width: 40%;
    height: 100vh;
    z-index: 900;
    padding: 50px;
    padding-top: 120px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: visibility .5s ease, transform .5s ease;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .nav__btn-mobile {
    display: block;
    padding: 19px 88px;
    font-size: 18px;
    color: var(--color-white);
    border: 2px solid var(--color-promo);
    border-radius: 100px;
  }

  .nav__btn-mobile:focus-visible {
    outline: solid 2px var(--color-promo);
    outline-offset: 2px;
  }

  .nav__btn-mobile:hover {
    color: var(--color-white);
    background-color: var(--color-promo);
  }

  .nav__btn-mobile:active {
    border: solid 2px #D1A9F0;
    background-color: var(--color-active);
  }

  .btn__icon-mobile {
    margin-right: 4px;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .header__nav .nav__item:last-child {
    margin-bottom: 120px;
  }

  .header__nav .nav__link {
    font-size: 24px;
  }

  .header__nav--active {
    transform: translateX(500px);
  }

  .burger--active {
    z-index: 1000;
  }

  .burger--active
  .burger__line {
    height: 0;
  }

  .burger--active
  .burger__line::before {
    transform: rotate(45deg);
  }

  .burger--active
  .burger__line::after {
    width: 36px;
    transform: rotate(-45deg);
  }

  .burger {
    display: block;
    margin-right: 50px;
    flex-shrink: 0;
  }

  /* search */
  .search__btn-click {
    display: block;
  }

  .header__search-mobile {
    display: flex;
    position: absolute;
    visibility: hidden;
    right: 0;
    height: 50px;
    z-index: 2;
    padding: 10px;
    padding-right: 0;
    background-color: #000;
    transform: translateX(120%) translateY(-4px);
    transition: visibility .5s ease, transform .5s ease;
  }

  .header__search-mobile--active {
    visibility: visible;
    transform: translateX(-50px) translateY(-4px);
  }

  .search__btn-mobile {
    margin-right: 12px;
    transform: translateY(2px);
  }

  .search__close {
    transform: translateY(6px);
  }

  .search__input-mobile {
    margin-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 218px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.85);
    transition: border-bottom .3s ease;
  }

  .search__input-mobile:focus {
    outline: none;
    border-bottom: 1px solid var(--color-active);
  }

  .search__input-mobile:active {
    border-bottom: 1px solid var(--color-active);
  }

  /* hero */
  .hero {
    min-height: 668px;
  }

  .hero__content {
    padding-top: 105px;
  }

  .hero__descr {
    width: 60%;
    margin-bottom: 95px;
  }

  .about__descr,
  .catalog__descr,
  .projects__descr {
    width: 95%;
  }

  .gallery {
    min-height: 560px;
  }

  .choices {
    width: 280px;
  }

  .gallery__swiper-container {
    width: 670px;
  }

  .events__swiper-wrapper {
    margin-bottom: 30px;
  }

  .events__swiper-pagination {
    position: absolute;
    visibility: visible;
    text-align: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #666666;
  }

  .events__btn {
    display: none;
  }

  .events__article {
    width: calc(100% - 50px / 3);
  }

  .article__info {
    text-align: right;
  }

  .article__content {
    padding: 215px 30px 45px;
  }

  .partners__swiper-container {
    max-width: 85%;
  }

  .contacts__container {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  .search__input-mobile {
    width: calc(100vw - 200px);
  }

  .hero__descr {
    width: 90%;
  }

  .gallery {
    min-height: 890px;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__content {
    margin-bottom: 50px;
  }

  .gallery__top {
    margin-right: 100px;
  }

  .gallery__content {
    min-height: fit-content;
    flex-direction: row;
  }

  .gallery__checkbox {
    padding-top: 115px;
  }

  .catalog__descr {
    margin-bottom: 30px;
  }

  .catalog__bottom {
    flex-direction: column-reverse;
  }

  .accordion__painter-list {
    columns: 3;
  }

  .catalog__right {
    margin-bottom: 50px;
  }

  .catalog__right,
  .tabs-content {
    margin-right: 0;
    width: 100%;
    max-width: 804px;
  }

  .tabs-content img {
    width: 100%;
    max-width: 804px;
  }

  .article__content {
    padding: 260px 30px 45px;
  }

  .events__article {
    width: calc(100% - 2px / 2);
    min-height: 650px;
  }

  .events__swiper-wrapper {
    margin-bottom: 20px;
  }

  .form {
    flex-wrap: wrap;
  }

  .form__input-box {
    margin-bottom: 12px;
  }

  .form__input-box,
  .form__input,
  .form__btn {
    max-width: 323px;
    width: 100%;
  }

  .form__input-box {
    margin-right: 0;
  }

  .form__btn {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50;
  }

  .form__input-box:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 540px;
    padding: 0 15px;
  }

  .header__background {
    height: 50px;
    padding-top: 12px;
  }

  .header__logo {
    width: 90px;
  }

  .nav__burger {
    margin-right: 20px;
    width: 25px;
  }

  .burger__line {
    width: 16px;
    height: 2px;
  }

  .burger__line::before {
    transform: translateY(-8px);
    width: 25px;
    height: 2px;
  }

  .burger__line::after {
    transform: translateY(8px);
    width: 10px;
    height: 2px;
  }

  .search__icon-click {
    width: 18px;
    height: 18px;
  }

  /* hero */
  .hero {
    min-height: 305px;
  }

  .hero__content {
    padding-top: 30px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    text-align: center;
    width: 100%;
    font-size: 32px;
    line-height: 42px;
  }

  .hero__descr {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn {
    max-width: 200px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 16px;
  }

  /* .about__descr,
  .catalog__descr,
  .projects__descr {
    width: 95%; */
  /* } */
}
